* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --button-color: #8296bb;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url("../images/sign-page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.container::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(45, 72, 99, 0.7);
}
.form-box {
  z-index: 9999;
  width: 40%;
  height: 87%;
  background-color: rgba(82, 109, 161, 0.48);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.logo {
  background-color: white;
  border-radius: 15px;
  width: fit-content;
  margin: 20px auto;
}
.logo img {
  width: 130px;
  border-radius: 15px;
}
.txt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 25px;
}
.container .form-box .sign-in a,
.container .form-box form div {
  color: #f8f2f29c;
}
.container .form-box .sign-in a:hover {
  color: white;
}

form {
  display: grid;
  width: 90%;
  margin: auto;
  gap: 20px;
  position: relative;
}
input {
  padding: 10px;
  padding-left: 40px;
  border: none;
  border-radius: 19px;
  outline: none;
  position: relative;
}
form svg {
  position: absolute;
  color: #425776;
  z-index: 3;
  left: 16px;
}
#message {
  z-index: 5;
  top: 344px;
  left: 30px;
}
.container .form-box form svg.fa-user {
  top: 10px;
}
.container .form-box form svg.fa-envelope {
  top: 65px;
}
.container .form-box form svg.fa-lock {
  top: 120px;
}
.container .form-box form svg.fa-phone {
  top: 175px;
}
.container .form-box form svg.fa-id-card {
  top: 230px;
  right: 300px;
}

select {
  width: 35%;
  height: 90%;
  margin-bottom: 10px;
  margin-top: -1px;
  outline: 0;
  padding: 5px;
  border-radius: 19px;
  text-decoration: none;
  text-align: center;
}
.gender {
  color: gray;
}
.container .form-box form input[type="submit"] {
  color: white;
  font-weight: bold;
  background-color: var(--button-color);
  padding: 10px 35px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.container .form-box form input[type="submit"]:hover {
  background-color: #425776;
  border: 1px solid white;
}
input[value="Sign Up"] {
  font-size: 16px;
}
.selectt {
  display: flex;
  justify-content: space-around;
}
.idd {
  width: 60%;
  height: 90%;
  margin-right: 30px;
}

@media (max-width: 1024px) {
  .form-box {
    width: 50%;
    height: 80%;
  }
  .container .form-box .logo img {
    width: 110px;
  }
  .container .form-box .txt {
    font-size: 23px;
  }
  .container .form-box form {
    gap: 15px;
  }
  .container .form-box form svg.fa-envelope {
    top: 60px;
  }
  .container .form-box form svg.fa-lock {
    top: 110px;
  }
  .container .form-box form svg.fa-phone {
    top: 162px;
  }
  .container .form-box form svg.fa-id-card {
    top: 210px;
  }
}
@media (max-width: 750px) {
  .form-box {
    width: 85%;
    height: 80%;
  }
  form{
    width:98%;
  }
}
